.container{margin-top: 
	200px;padding:60px 20px;box-shadow:2px 2px 2px 2px #ccc;width:500px}
.container .text{margin-bottom:30px;border:1px solid #ddd;text-align:center;height:50px}
.container .btn-edit{background-color:#9999ff}
.container .btn-del{background-color:#ff8080;margin-left:5px}